.transition{
    transition: transform .2s ease, box-shadow .2s ease;
}

.transition:hover{
    transform: translateY(-5px) translateX(-5px);
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 1);
}

 :root{
    --rabbit: rgb(150, 0, 255);
 }